<!-- table>thead>tr>th*4 -->
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <!-- tbody>tr*3>td*4 -->
    <tbody>
        <tr *ngFor="let makeup of makeups" [ngClass]="{'table-success':makeup.offer}">
            <td><img [src]="makeup.image" [alt]="makeup.name"></td>
            <td>{{makeup.name}}</td>
            <td>{{makeup.category}}</td>
            <td>{{makeup.price}}</td>
            <td> <span class="badge rounded-pill text-bg-warning" *ngIf="makeup.stock==0">SIN STOCK</span></td>
        </tr>
    </tbody>
</table>
