img {
    width: 150px;
    height: 200px;
}

td {
    margin: auto;
    text-align: center;
    vertical-align: center;
}

.offer {
    border-color: green;
    background-color: #00800094;
}

.sinStock {
    background-color: red;
}

input{
    max-width: 2rem;
}

.cantidad{
    width: 3rem;
}