<!-- table>thead>tr>th*4 -->
<table class="table text-cemter">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <!-- tbody>tr*3>td*4 -->
    <tbody>
        <tr *ngFor="let makeup of makeups" [ngClass]="{'table-success':makeup.offer}">
            <td><img [src]="makeup.image" [alt]="makeup.name"></td>
            <td>{{makeup.name}}</td>
            <td>{{makeup.category}}</td>
            <td>{{makeup.price | currency}}</td>
            <td> <span class="badge rounded-pill text-bg-warning" *ngIf="makeup.stock==0">SIN STOCK</span></td>
            <td>
                <app-input-int [cant]="makeup.quantity" [max]="makeup.stock" *ngIf="makeup.stock" (maxReached)="maxReached($event)"></app-input-int>
            </td>
        </tr>
        
    </tbody>
</table>