img {
    width: 150px;
    height: 200px;
}

td {
    margin: auto;
    text-align: center;
    vertical-align: center;
}

.offer {
    border-color: green;
    background-color: #00800094;
}

.sinStock {
    background-color: red;
}



.cantidad {
    width: 3rem;
}

.btn-light,
.table-light th {
    background-color: rgb(231, 105, 126) !important;
    border-color: rgb(231, 105, 126) !important;
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
