<!-- table>thead>tr>th*4 -->
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <!-- tbody>tr*3>td*4 -->
    <tbody>
        <tr>
            <td>{{makeup.name}}</td>
            <td>{{makeup.category}}</td>
            <td>{{makeup.price}}</td>
            <td>{{makeup.stock}}</td>
        </tr>
        <tr>
            <td>Máscara de Pestañas Maybelline Sensational Sky High</td>
            <td>Ojos</td>
            <td>$3970</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Base de maquillaje Maybelline Fit Me tono 02 </td>
            <td>Rostro</td>
            <td>$4000</td>
            <td>5</td>
        </tr>
    </tbody>
</table>
