input{
    max-width: 2rem;
}

.input-group{
    justify-content: center;
}

button{
    background-color: rgb(231, 105, 126) !important;
    border-color: rgb(231, 105, 126) !important;
    color: white;
}