<div class="content">
    <article class="node-17422 node node-page no-sidebars js-analytics-content-block" role="article" trackname="Contact Us Page|contact_us_coresite_v1|add dots">
        <div class="content column column-main">
            <div class="field-content">
                <div id="contact-us">
                    <div class="contact-us__header">
                        <h1>CONTÁCTANOS</h1>
                        <h2>Estamos felices de responder tus preguntas. Usa el formulario a continuación para contactarnos, te responderemos lo antes posible.</h2>
                    </div>
                    <div class="contact-us__content">
                        <p class="contact-us__required-note"></p>
                        <div class="drupal-embed" nid="19888 : CONTACT US FORM">
                            <article class="node-19888 node node-elc-form node-promoted no-sidebars js-analytics-content-block" role="article" trackname="Contact Us Form|DD_GSR10-817">
                                <div class="content column column-main">
                                    <div class="form-error label-error form-error-fbf_form_128-node-19888-3937103" style="display:none">
                                        <ul class="error_messages"></ul>
                                    </div>
                                    <div class="form-builder-container">
                                        <form action="/contact-us" method="post" id="fbf-form-128-node-19888-3937103" accept-charset="UTF-8">
                                            <div>
                                                <div class="form-item form-type-radios form-item-form-QUESTION-TYPE">
                                                    <label for="edit-form-question-type">
                                                        ¿Sobre qué es tu pregunta? 
                                                        <span class="form-required" title="This field is required.">*</span>
                                                    </label>
                                                    <div id="edit-form-question-type" class="form-radios">
                                                        <div class="form-item form-type-radio form-item-form-QUESTION-TYPE">
                                                            <input type="radio" id="edit-form-question-type-product-tips" name="form[QUESTION_TYPE]" value="Product Tips" class="form-radio"/>
                                                            <label class="option" for="edit-form-question-type-product-tips">Tips de productos </label>
                                                        </div>
                                                        <div class="form-item form-type-radio form-item-form-QUESTION-TYPE">
                                                            <input type="radio" id="edit-form-question-type-technical-assistance" name="form[QUESTION_TYPE]" value="Technical Assistance" class="form-radio"/>
                                                            <label class="option" for="edit-form-question-type-technical-assistance">Asistencia Técnica </label>
                                                        </div>
                                                        <div class="form-item form-type-radio form-item-form-QUESTION-TYPE">
                                                            <input type="radio" id="edit-form-question-type-three" name="form[QUESTION_TYPE]" value="three" class="form-radio"/>
                                                            <label class="option" for="edit-form-question-type-three">Servicios en M·A·C Store / Tiendas </label>
                                                        </div>
                                                        <div class="form-item form-type-radio form-item-form-QUESTION-TYPE">
                                                            <input type="radio" id="edit-form-question-type-can-you-recommend-an-alternative-for-a-discontinued-product-or-shade" name="form[QUESTION_TYPE]" value="Can you recommend an alternative for a discontinued product or shade?" class="form-radio"/>
                                                            <label class="option" for="edit-form-question-type-can-you-recommend-an-alternative-for-a-discontinued-product-or-shade">Productos discontinuos </label>
                                                        </div>
                                                        <div class="form-item form-type-radio form-item-form-QUESTION-TYPE">
                                                            <input type="radio" id="edit-form-question-type-other" name="form[QUESTION_TYPE]" value="Other" class="form-radio"/>
                                                            <label class="option" for="edit-form-question-type-other">Otro </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="_SUBMIT" value="contact_us"/>
                                                <input type="hidden" name="fbf_field_name" value="field_elc_form_builder"/>
                                                <input type="hidden" name="LANGUAGE_PREFERENCE" value="139"/>
                                                <div class="form-item form-type-textarea form-item-form-COMMENTS">
                                                    <label for="edit-form-comments">
                                                        ¿Como Podemos Ayudarte? 
                                                        <span class="form-required" title="This field is required.">*</span>
                                                    </label>
                                                    <div class="form-textarea-wrapper resizable">
                                                        <textarea id="edit-form-comments" name="form[COMMENTS]" cols="60" rows="5" class="form-textarea required"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-item form-type-textfield form-item-form-FIRST-NAME">
                                                    <label class="element-invisible" for="edit-form-first-name">
                                                        Nombre 
                                                        <span class="form-required" title="This field is required.">*</span>
                                                    </label>
                                                    <input type="text" id="edit-form-first-name" name="form[FIRST_NAME]" value="" size="60" maxlength="128" class="form-text required"/>
                                                </div>
                                                <div class="form-item form-type-textfield form-item-form-LAST-NAME">
                                                    <label class="element-invisible" for="edit-form-last-name">
                                                        Apellido 
                                                        <span class="form-required" title="This field is required.">*</span>
                                                    </label>
                                                    <input type="text" id="edit-form-last-name" name="form[LAST_NAME]" value="" size="60" maxlength="128" class="form-text required"/>
                                                </div>
                                                <div class="form-item form-type-textfield form-item-form-EMAIL-ADDRESS">
                                                    <label class="element-invisible" for="edit-form-email-address">
                                                        Dirección de Email 
                                                        <span class="form-required" title="This field is required.">*</span>
                                                    </label>
                                                    <input parent="EMAIL_ADDRESS" class="email_format form-text required" type="text" id="edit-form-email-address" name="form[EMAIL_ADDRESS]" value="" size="60" maxlength="128"/>
                                                </div>
                                                <div class="form-item form-type-textfield form-item-form-EMAIL-ADDRESS2">
                                                    <label for="edit-form-email-address2">
                                                        Confirma tu Dirección de Email 
                                                        <span class="form-required" title="This field is required.">*</span>
                                                    </label>
                                                    <input related="EMAIL_ADDRESS" pg_id="EMAIL_ADDRESS2" class="email_confirm form-text required" type="text" id="edit-form-email-address2" name="form[EMAIL_ADDRESS2]" value="" size="60" maxlength="128"/>
                                                </div>
                                                <div class="form-item form-type-textfield form-item-form-ADDRESS1">
                                                    <label class="element-invisible" for="edit-form-address1">Dirección </label>
                                                    <input type="text" id="edit-form-address1" name="form[ADDRESS1]" value="" size="60" maxlength="128" class="form-text"/>
                                                </div>
                                                <div class="form-item form-type-textfield form-item-form-ADDRESS2">
                                                    <label class="element-invisible" for="edit-form-address2">Comuna </label>
                                                    <input type="text" id="edit-form-address2" name="form[ADDRESS2]" value="" size="60" maxlength="128" class="form-text"/>
                                                </div>
                                                <div class="form-item form-type-textfield form-item-form-COUNTRY">
                                                    <label class="element-invisible" for="edit-form-country">País </label>
                                                    <input type="text" id="edit-form-country" name="form[COUNTRY]" value="" size="60" maxlength="128" class="form-text"/>
                                                </div>
                                                <div class="form-item form-type-textfield form-item-form-CITY">
                                                    <label class="element-invisible" for="edit-form-city">Ciudad </label>
                                                    <input type="text" id="edit-form-city" name="form[CITY]" value="" size="60" maxlength="128" class="form-text"/>
                                                </div>
                                                <div class="form-item form-type-textfield form-item-form-POSTAL-CODE">
                                                    <label class="element-invisible" for="edit-form-postal-code">Código Postal </label>
                                                    <input type="text" id="edit-form-postal-code" name="form[POSTAL_CODE]" value="" size="60" maxlength="128" class="form-text"/>
                                                </div>
                                                <input type="submit" id="edit-submit" name="op" value="Save" class="form-submit"/>
                                                <input type="hidden" name="form_build_id" value="form-xHyAkk-gm9P7W_KO0HLMdz5XKUtNrjnE1a4Ebv2yIjg"/>
                                                <input type="hidden" name="form_id" value="fbf_form_128-node-19888-3937103"/>
                                                <input type="hidden" name="elc_form_title" value="Contact Us Form"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </article>
                        </div>