<h1>CONTÁCTANOS</h1>
<h4>Estamos felices de responder tus preguntas. Usa el formulario a continuación para contactarnos, te responderemos lo
    antes posible.</h4>
<form method="post" class="form-control">
        <div class="form-item form-type-textarea form-item-form-COMMENTS">
            <label for="edit-form-comments">
                <span class="input-group-text"> ¿Como Podemos Ayudarte? *</span>

            </label>
                <textarea cols="60" rows="5" class=" input-group required"></textarea>

        </div>
        <div class="input-group mt-3 mb-3">
            <span class="input-group-text">Nombre</span>
            <input type="text" placeholder="Nombre" class="form-control">
          </div>

          <div class="input-group mt-3 mb-3">
            <span class="input-group-text">Apellido</span>
            <input type="text" placeholder="Apellido" class="form-control">
          </div>

          <div class="input-group mt-3 mb-3">
            <span class="input-group-text">Telefono de contacto</span>
            <input type="number" placeholder="telefono" class="form-control">
          </div>

          <div class="input-group mt-3 mb-3">
            <span class="input-group-text">Mail</span>
            <input type="mail" placeholder="mail@example.com" class="form-control">
          </div>
        <button class="btn btn-primary" type="submit">Enviar</button>

</form>